@model Final_APP.Entities.ChangBay

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Thêm chặng bay</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>ChangBay</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <label class="control-label col-md-2" for="MaChangBay">Mã chặng bay</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.MaChangBay, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MaChangBay, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="SanBay_CatCanh">Sân bay cất cánh</label>
            <div class="col-md-10">
                @Html.DropDownList("SanBay_CatCanh", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.SanBay_CatCanh, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="SanBay_HaCanh">Sân bay hạ cánh</label>
            <div class="col-md-10">
                @Html.DropDownList("SanBay_HaCanh", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.SanBay_HaCanh, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Thêm" class="btn btn-outline-info" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Quay lại", "IndexChangBay")
</div>
