@model IEnumerable<Final_APP.Entities.ChuyenBay>

@{
    ViewBag.Title = "IndexChangBay";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<h2>Chuyến bay</h2>

<table class="table">
    <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col">Mã chuyến bay</th>
            <th scope="col">Ngày bay</th>
            <th scope="col">Thời gian bay</th>
            <th scope="col">Giá vé</th>


        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.MaChuyenBay</td>
                <td>@item.NgayBay.ToString().Split(' ')[0]</td>
                <td>@item.GioBay</td>
                <td>@item.Gia</td>


                <td>
                    <a href="~/Admin/DetailChuyenBay?id=@item.MaChuyenBay" class="btn btn-outline-dark">
                        Chi tiết
                    </a>
                    <a href="~/Admin/EditChuyenBay?id=@item.MaChuyenBay" class="btn btn-outline-dark">
                        Sửa
                    </a>
                       
                     <button type="button" class="btn btn-outline-danger" title="Delete" id="@item.MaChuyenBay" onclick="Delete('@item.MaChuyenBay')">Xóa</button>

                </td>


            </tr>

        }

    </tbody>
</table>
<div class="overlay toggle-menu"></div>


<script src="~/assets/js/JavaScript.js"></script>
<script>
    var tables = document.getElementsByTagName('table');
    var table = tables[tables.length - 1];
    var rows = table.rows;
    for (var i = 1, td; i < rows.length; i++) {
        td = document.createElement('td');
        td.appendChild(document.createTextNode(i));
        rows[i].insertBefore(td, rows[i].firstChild);
    }



    var deleteLinks = document.querySelectorAll('.delete');

    for (var i = 0; i < deleteLinks.length; i++) {
        deleteLinks[i].addEventListener('click', function (event) {
            event.preventDefault();

            var choice = confirm(this.getAttribute('data-confirm'));

            if (choice) {
                window.location.href = this.getAttribute('href');
            }
        });
    }

    function Delete(ID) {
        Swal.fire({
            title: 'Bạn có chắc chắn muốn xóa ?',
            text: "Khi xóa bản ghi này sẽ không thể hoàn tác!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Xóa!'
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    url: "/Admin/DeleteChuyenBay",
                    type: "POST",
                    data: { id: ID },
                    success: function (response) {
                        console.log(response);
                        if (response.message == "Success!") {
                            Swal.fire({
                                icon: 'success',
                                title: 'SUCCESSFUL',
                                timer: 2000,
                                text: 'Delete successfully!',
                            })
                            setTimeout(window.location.reload(), 10000);
                        } else {
                            Swal.fire({
                                icon: 'error',
                                title: 'OOPS',
                                text: 'Something went wrong!'
                            })
                        }
                    },
                    error: function (err) {
                        Swal.fire({
                            icon: 'error',
                            title: 'OOPS',
                            text: err
                        })
                    }
                });
            }
        })
    }

</script>




