@model List<Final_APP.Entities.NguoiDung>
@{
    ViewBag.Title = "UserDetail";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


@*<div class="btn-group">
        <button type="button" class="btn btn-danger dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            Tìm kiếm theo
        </button>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Separated link</a></li>
        </ul>
    </div>
*@


<form action="~/Admin/UserDetail" method="post">
    <div class="form-horizontal ">
        <hr>
        <div class="form-group">
            <label class="control-label col-md-2 " for="MaNguoiDung">Mã người dùng</label>
            <div class="col-md-10 py-2">
                <input class="form-control text-box single-line" id="MaNguoiDung" type="text" name="mand" value="@ViewBag.mand">


                <span class="field-validation-valid text-danger" data-valmsg-for="MaNguoiDung" data-valmsg-replace="true"></span>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="hovaten">Họ và tên</label>
            <div class="col-md-10 py-2">
                <input class="form-control text-box single-line" id="HoTen" type="text" name="hoten" value="@ViewBag.hoten">
                <span class="field-validation-valid text-danger" data-valmsg-for="HoTen" data-valmsg-replace="true"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2" for="SDT">Số điện thoại</label>
            <div class="col-md-10 py-2">
                <input class="form-control text-box single-line" id="SDT" type="text" name="sdt" value="@ViewBag.sdt">
                <span class="field-validation-valid text-danger" data-valmsg-for="SDT" data-valmsg-replace="true"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2 " for="Email">Email</label>
            <div class="col-md-10">
                <input class="form-control text-box single-line" id="Email" type="text" name="email" value="@ViewBag.email">
                <span class="field-validation-valid text-danger" data-valmsg-for="Email" data-valmsg-replace="true"></span>
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10 py-4">
                <input type="submit" value="Tìm kiếm" class="btn btn-outline-info">
            </div>
        </div>
    </div>
</form>

<h2 class="m-5">Danh sách thông tin người dùng </h2>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Mã người dùng</th>
            <th scope="col">Họ và tên</th>
            <th scope="col">Số điện thoại</th>
            <th scope="col">Email</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {

            <tr>
                <td>@item.MaNguoiDung</td>
                <td>@item.HoTen</td>
                <td>@item.SDT</td>
                <td>@item.Email</td>
                <td>
                    <a href="~/Admin/EditUser?id=@item.MaNguoiDung" class="btn btn-outline-dark">
                        Sửa
                    </a>
                </td>
            </tr>




        }

    </tbody>
</table>


<script>

    function myFunction() {
        document.getElementById("myDropdown").classList.toggle("show");
    }

    function filterFunction() {
        var input, filter, ul, li, a, i;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        div = document.getElementById("myDropdown");
        a = div.getElementsByTagName("a");
        for (i = 0; i < a.length; i++) {
            txtValue = a[i].textContent || a[i].innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                a[i].style.display = "";
            } else {
                a[i].style.display = "none";
            }
        }
    }
</script>
